{% extends 'vehicle/adminbase.html' %}
{% block content %}

	<!-- main content -->
	<div class="wrapper">

<!-- ****** table  start ********** -->
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >THE DISTANCE DATA
						</h3>

					</div>
					<div class="card-content">
						<table>
							<thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Vehicle Number</th>
                                    <th>Current Distance</th>
                                    <th>Target Distance</th>
                                </tr>
							</thead>
							<tbody>
                                {% for request_obj in requests %}
                <tr>

                    <td>{{ request_obj.customer.get_name }}</td>
                    <td>{{ request_obj.vehicle_no }}</td>
                    <td id="distance-{{ request_obj.vehicle_no }}">Loading...</td>
                    <td>{{ request_obj.target_distance }}</td>
                  
                </tr>
                {% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
<!-- ****** table start ********** -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>

	<script type="module">
		import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
		import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js";
	
		// Firebase configuration
		const firebaseConfig = {
			apiKey: "AIzaSyBOCbL9QLjeHMhamRgBIjm-AyLuJ1UfwKY",
			authDomain: "sasrws-bd7d0.firebaseapp.com",
			databaseURL: "https://sasrws-bd7d0-default-rtdb.firebaseio.com",
			projectId: "sasrws-bd7d0",
			storageBucket: "sasrws-bd7d0.appspot.com",
			messagingSenderId: "164429556640",
			appId: "1:164429556640:web:304fa251db8d3b4f0292c5",
			measurementId: "G-VNSEBZS8R5"
		};
	
		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const db = getDatabase(app);
	
		// Function to fetch data from Firebase
		function fetchData(vehicleNumber) {
			const distanceRef = ref(db, vehicleNumber + '/totalDistance');
			onValue(distanceRef, (snapshot) => {
				const data = snapshot.val();
				document.getElementById('distance-' + vehicleNumber).innerText = data + ' km';
			});
		}
	
		// Fetch data for each vehicle number
		const vehicleNumbers = JSON.parse('{{ vehicle_numbers | safe }}');
		vehicleNumbers.forEach(fetchData);
	</script>
	<!-- end main content -->
{% endblock content %}
